<div class="search-bar">
    <input type="text" id="searchInput" placeholder="Search for recipes, ingredients, or cuisines...">
    <button class="search-btn">Search</button>
    <div id="userData" style="display: none;" data-user='<%- JSON.stringify(user || null) %>'></div>
</div>
